/* Hier passen we het formaat van de afbeelding aan */

#heroImgContainer {
    height: 90vh;
}   

#heroImgContainer img {
    height: 80%;
}

/* hier passen we de ruimte tussen de letters aan.  */
#heroTitle {
    letter-spacing: 20px;
}

#heroSubtitle {
    letter-spacing: 5px;
}

